@model Projekt.Models.MovieStudio

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>MovieStudio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Founded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Founded)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.MovieStudioID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
